name: Deploy Jekyll site to Pages

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Clean Install
      run: |
        # 彻底清理
        rm -f Gemfile.lock
        rm -rf vendor/bundle
    
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: false  # 禁用缓存
    
    - name: Install Bundler
      run: gem install bundler --no-document
    
    - name: Install Dependencies
      run: |
        bundle config path vendor/bundle
        bundle config deployment false
        bundle install --jobs 4 --retry 3
    
    - name: Build with Jekyll
      run: bundle exec jekyll build --trace
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./_site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
